@import '../theme.scss';

.libData {
  display: flex;
  flex-wrap: wrap;
  min-height: 700px;
  overflow: scroll;
  padding: 0;
  // background:url(../img/bg1.png) no-repeat bottom center;

  .userWelcom {

    font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    padding-left: 40px;
    text-shadow: 2px 2px rgba(138, 189, 219, 0.5);
    font-size: 16px;
    color: rgb(17, 61, 35);

    .saying {
      color: rgb(179, 55, 6);
      font-style: italic;
    }

    .welcome {

    }
  }
  
  .totalText {
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    margin: 100px 10px 10px 40px;
    height: 30%;
    text-shadow: 2px 2px rgb(192, 214, 221);
    // border: 1px solid burlywood;
    font-size: 16px;
    color: rgb(17, 61, 35);
  }
  
  .mainData {
    color:rgb(170,18,73);
    font-weight: bolder;
    font-size:18px
  }

  .bookCnt {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 220px;

    .totalText {
      margin-right: 200px;
    }
    .libCharts {
      margin: 0px 40px 0px 100px;
    }
  }

  .bookType {
    // display: flex;
    // flex-wrap: wrap;
   
    .typeCharts {
      margin: -10px 10px 20px 0px;
    }
  }
  
}

